<main class="home-page">
<!--　ファーストビュー -->
  <div class="first-view">
    <div class="form-container">
      <div class="form-search">
        <div class="form-title">
          <h1>AccommodationsShareでまだ体験したことのない旅をしよう!!!</h1>
        </div>
        <form class="home-search">
          <p>エリア</p>
          <input type="search" placeholder="東京" class="home-aria-search">
          <input type="submit" value="探す" class="home-search-btn">
        </form>
      </div>
    </div>
  </div>
<!-- セカンドビュー -->
  <div class="second-view">
    <h1 class="second-text">おすすめのエリア</h1>
    <div class="second-container">
      <div class="recommended-aria">
        <ul class="img-flex">
          <li class="aria-list"><a href="/" class="aria"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg"><span class="aria-name">東京</span></a></li>
          <li class="aria-list"><a href="/" class="aria"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg"><span class="aria-name">大阪</span></a></li>
          <li class="aria-list"><a href="/" class="aria"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg"><span class="aria-name">京都</span></a></li>
          <li class="aria-list"><a href="/" class="aria"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg"><span class="aria-name">札幌</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
