// レスポンシブデザイン
@media (max-width: 1000px) {

  .nav-search {
    display: none;
  }

  .img-flex {
    flex-wrap: wrap;
  }

  .img-flex li {
    width: 40%;
  }

  .form-search {
    width: 80%;
  }

}

@media (max-width: 740px) {

  .img-flex {
    flex-direction: column;
  }

  .img-flex li {
    margin: 0 auto;
    width: 90%;
  }

  .room-regi, .table-title, .room-counter {
    display: none;
  }

}
